.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 32px;
  max-width: var(--max-container-width);
}

.avatarWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarWrapper::before,
.avatarWrapper::after {
  content: "";
  position: absolute;
  top: 26%;
  left: -88%;
  width: 90px;
  height: 60px;
  background-image: url("/images/Star 2.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.avatarWrapper::after {
  background-image: url("/images/Star 1.svg");
  top: 22%;
  left: 117%;
  width: 40px;
  height: 40px;
}

.avatar {
  border: 3px solid var(--white);
}
