.header {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  padding: 0 var(--padding-left-right);
}

.headerData {
  margin: 15px 0;
}

.avatarWrapper {
  position: relative;
  padding-right: 54px;
}

.avatarWrapper::before,
.avatarWrapper::after {
  content: "";
  position: absolute;
  top: 43%;
  left: -66%;
  width: 100%;
  height: 100%;
  background-image: url("/images/Star 2.svg");
  background-repeat: no-repeat;
}

.avatarWrapper::after {
  background-image: url("/images/Star 1.svg");
  top: 18%;
  left: 86%;
}

.avatar {
  border: 3px solid var(--white);
}
