.button {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 34px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius-small);
  width: 100%;
  transition: all 300ms;
  background: var(--primary-color);
  color: var(--white);
}

@media screen and (max-width: 576px) {
  .button {
    font-size: 1rem;
  }
}

.button:hover {
  box-shadow: 1px 3px 16px -3px rgba(34, 60, 80, 0.2);
}

.button:focus {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.button:disabled,
.button[disabled],
.button:disabled:hover {
  opacity: 0.5;
}

.button:focus:not(:focus-visible) {
  box-shadow: none;
}
